@charset "utf-8";

html, body{ height:100%}
body{font-size:14px}ader,footer{ position:absolute; left:0; right:0; width:100%; z-index:99}
header{top:0; height:60px; background:#426374 url(../images/logo.png) no-repeat 0 center}
.loginWraper{ position:absolute;width:100%; left:0; top:0; bottom:0; right:0; z-index:1; background:#3283AC url(../images/admin-login-bg.jpg) no-repeat center}
.loginBox{ position:absolute; width:360px; height:372px; background:url(../images/admin-loginform-bg.png) no-repeat; left:50%; top:50%; margin-left:-180px; margin-top:-186px;box-sizing: border-box; padding-top:14px;}
footer{ height:46px; line-height:46px; bottom:0; text-align:center; color:#fff; font-size:12px; background-color:#426374}
.loginBox{
	text-align: center;
}
.cen{
	text-align: center;
}
.tabBar span{
	width: 150px;
}

 .username,.password,.username_admin,.password_admin{
	width: 236px;
	height: 34px;
	background: #fff;
	margin-top: 32px;
	margin-left:64px; 

}
.username input,.password input,.username_admin input,.password_admin input{
	height: 34px;
	width: 210px;

}
input{
	border: 0;	
}
.logo{
 width: 194px;
 height: 94px;
 background: #fff;
}
.HuiTab{
	width: 360px;
	height: 180px;
	margin-top: 10px;
	/* background: #ddd; */
}
.sumbit{
	width: 236px;
	height: 30px;
	font-size: 14px;
	background: red;
	border: 0;
	border-radius: 5px;
	margin-top:20px;
}